html
  head
    title Blob
  body
    h1 Blob
    canvas(id=canvas)
    script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.8/fabric.min.js')
    script(type='text/javascript' src='js/app.js')

